/* body styling */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  background:linear-gradient(rgb(211, 190, 133), yellow, rgb(145, 209, 145));
  max-width: 960px;
  margin: auto;
}

/* h2 styling */
h2{
text-align: center;
font-weight: bold;
}
/* h4 styling */
h4{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
/* h6 styling */
h6{
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: normal;
    text-align: center;
}

/* Header Title */
.header {
  padding: 30px;
  text-align: center;
  background-color:transparent;
  font-weight: bold;
}
/* styling the h1 in header */
.header h1 {
  font-size: 20px;
  color:black;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: transparent;
  width: 100%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #0a0a0a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 25%;
  font-weight: bold;

}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  background-color: transparent;
  padding-left: 20px;
}
/* Add a card effect for articles */
.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  font-variant: small-caps;
}
/* card p style */
.card p{
    padding: 20px;
}
/* card button styling */
.card button{
    background-color:wheat;
    border-radius: 50%;
    
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer styling */
.footer {
  padding: 10px;
  text-align: left;
  background-color: transparent;
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
  
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn{   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* rows */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* row images */
.row img{
transition: 1s ease;
}

/* container */
.container{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* image hover in container */
.container img:hover{
-webkit-transform: scale(1.8);
-ms-transform: scale(1.8);
transform: scale(1.8);
transition: 1s ease;
}
/* column image */
.column img{
    width: 100%;
    align-self: center;
}

/* Create four equal columns that sits next to each other */
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  flex: 25%;
  max-width: 25%;
}
/* column images */
.gallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* this is for styling the header on gallery page */
.header{
text-align: center;
  padding: 32px;
}

/* gallery */
.gallery {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .gallery {
    flex-direction: column;
  }
}

